/* GENERAL & REUSEABLE */
.App {
  color: var(--black);
}

.content-section {
  display: grid;
  place-items: center;
}

.content-wrapper {
  display: grid;
  place-items: center;
  max-width: 1000px;
  padding: 50px 0;  
}

.section-header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

.section-description {
  padding: 20px;
}

.flex {
  display: flex;
}

/*  NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--teal);  
  color: var(--white);
  font-size: 18px;
}

.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 1000px;
  color: var(--dark-font);
  text-align: center;
}

.navbar span {
  text-align: center;
  display: flex;
}


/* HEADER */
.header-heading {
  font-size: 30px;
  text-align: center;
}

.header-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 700px;
}

.home-bg-img {
  background-image: url(/src/assets/header-home.jpg);
  background-position: center;
}

.cb-bg-img {
  background-image: url(/src/assets/header-color-blind.jpg);
  background-position: center;
  opacity: 0.6;
}


.headline-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
}

.headline-title {
  font-weight: 700;
  font-size: 40px;
}

.headline-subtitle {
  font-size: 25px;
  font-weight: 500;
}

.headline-img img{
  width: 100%;
}


/* SMALL CARD */
.card-grid {
  display: grid;
  margin: 1rem;
  color: var(--smoke);
  border-radius: 1%;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-grid:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.card-content {
  width: 100%;
}

.card-content .title {
  font-size: var(--large-font);
  padding: var(--regular-size);
  font-weight: bold;
  background-color: var(--teal);
  color: var(--light-font);
  text-shadow: 2.5px 2.5px 1px var(--mid-grey);
}

.card-content .img {
  display: grid;
  place-items: center;
}

.card-content .img img {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
}

.card-content .description {
  padding: var(--large-size);
}

/* FOOTER */
.footer {
  background-color: var(--dark-teal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer-description {
  color: var(--white);
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.social-media-icons-container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 0.5px solid var(--white);
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease 0s;
}

.icon:hover {
  border: 0.5px solid var(--teal);
  background-color: var(--teal);
}

/*  TestPage */
input {
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}

.button {
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid var(--dark-teal);
  border-radius: 4px;
  margin: 5px;
  transition: all 0.3s ease 0s;
  background-color: var(--dark-teal);
  color: var(--white);
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.test-content {
  display: grid;
  place-items: center;
}

.test-card {
  height: 400px;
  display: grid;
  place-items: center;
}

.test-image img {
  border-radius: 50%;
}

.score-container {
  height: 400px;
}

.MuiButton-root {
  margin: 15px 5px !important;
  padding: 10px !important;
  transition: all 0.3s ease 0s !important;
}

.MuiButton-root:hover {
  background-color: var(--white) !important;
  color: var(--teal) !important;
}