.App {
  color: var(--white);
}

.content-section {
  display: grid;
  place-items: center;
}

.content-wrapper {
  display: flex;
  width: 1000px;  
}

.section-header {
  color: var(--dark);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--dark-teal);
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 250px auto 210px 150px 110px;
  width: 1000px;
}

.nav-wrapper span {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  text-align: right;
}

.logo {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
}

.header-container {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 50px 0;
}

.header-container img{
  width: 100%;
}